*.pyc
.ipynb_checkpoints/
__pycache__/
datasets/Train_Dataset/*/
datasets/Validation_Dataset/*/
*.pyc
.ipynb_checkpoints/
__pycache__/
datasets/Train_Dataset/*/
datasets/Validation_Dataset/*/
runs/
train/runs/
*.pyc
.ipynb_checkpoints/
__pycache__/
datasets/Train_Dataset/*/
datasets/Validation_Dataset/*/
runs/
train/runs/
.git
.env
*.pyc
.ipynb_checkpoints/
__pycache__/
datasets/Train_Dataset/*/
datasets/Validation_Dataset/*/
runs/
train/runs/
.git
.env
